@media (max-width: 1200px){
    main {
        width: 100%;

        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main-container{
        width: 100%;
        align-items: center;

        margin-bottom: 15%;
    }

    .main-container .texto, .tecnologias{
        text-align: center;
    }

    .main-container .texto p{
        width: 100%;
        font-size: 1.0em;
    }

    .cards-container, .texto p{
        margin-top: 32px;
    }
}

@media (max-width: 700px){
    header{
        flex-direction: column;
        align-items: center;
        justify-content: center;

        text-align: center;
    }

    header h1{
        font-size: 2em;
    }

    header nav{
        margin-top: 24px;
        margin-right: 0;
        font-size: 1.4em;
    }

    .main-container h2{
        font-size: 1.8em;
    }

    .tecnologias .cards-container .card{
        width: 60px;
        height: 60px;
    }

    #img-js{
        width: 100px;
    }

    main figure img{
        width: 250px;
        height: 250px;
    }
}